@model GCloud.Controllers.ViewModels.EMail.ForGotPasswordEmailViewModel

@{
    ViewBag.Title = "Passwort zurücksetzen";
    Layout = null;
}

<h2>Passwort zurücksetzen</h2>

Um Ihr Passwort zurückzusetzten klicken Sie <a href="@Url.Action("ResetPasswordConfirm","Home",new { userId = Model.UserGuid, code = Model.Code }, Request.Url.Scheme)">hier</a>