<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    
  </head>
  <body>
      <div>
          <h1>
              AGB's annehmen
          </h1>
          <p style="font-size:20px">
              ALLGEMEINE GESCHÄFTSBEDINGUNGEN FÜR DAS GASTGEWERBE 2022
              (AGBG 2022)
              Fassung vom 21.10.2022
              Inhaltsübersicht </p>
          <p> 1. GELTUNGSBEREICH</p>
          <p> 2. BEGRIFFSDEFINITIONEN</p>
          <p> 3. VERTRAGSABSCHLUSS/VERTRAGSINHALT</p>
          <p> 4. SONDERREGELUNGEN FÜR VERTRAGSABSCHLÜSSE MIT ANZAHLUNG</p>
          <p> 5. SONDERREGELUNGEN FÜR VERTRAGSABSCHLÜSSE IM FERNABSATZ</p>
          <p> 6. RÜCKTRITT DES GASTWIRTES VOM BEWIRTUNGSVERTRAG</p>
          <p> 7. RÜCKTRITT DURCH DEN VERTRAGSPARTNER – STORNOGEBÜHR</p>
          <p> 8. BEHINDERUNGEN DER ANREISE</p>
          <p> 9. RECHTE DES VERTRAGSPARTNERS</p>
          <p> 10. PFLICHTEN DES VERTRAGSPARTNERS</p>
          <p> 11. RECHTE DES GASTWIRTES</p>
          <p> 12. PFLICHTEN DES GASTWIRTES</p>
          <p> 13. HAFTUNGSBESCHRÄNKUNGEN</p>
          <p> 14. TIERHALTUNG</p>
          <p> 15. GUTSCHEINE</p>
          <p> 16. ABÄNDERUNG DES BEWIRTUNGSVERTRAGES</p>
          <p> 17. BEENDIGUNG DES BEWIRTUNGSVERTRAGES – VORZEITIGE AUFLÖSUNG</p>
          <p> 18. ERKRANKUNG, UNFALL ODER TOD DES GASTES WÄHREND DER BEWIRTUNG</p>
          <p> 19. ERFÜLLUNGSORT, GERICHTSSTAND UND RECHTSWAHL</p>
          <p> 20. SONSTIGES</p>
          <br />
          1. Geltungsbereich
          <br />
          1.1. Diese Allgemeinen Geschäftsbedingungen für das Gastgewerbe (im Folgenden „AGBG
          2022“) regeln das Rechtsverhältnis zwischen dem Gastwirt und dem Vertragspartner/Gast und gelten für alle in diesem Verhältnis getätigten Reservierungen und erbrachten Dienstleistungen.
          <br />
          1.2. Für Beherbergungsleistungen des Gastwirtes gelten ausschließlich die Allgemeinen Geschäftsbedingungen für die Hotellerie 2006 („AGBH 2006“).
          <br />
          1.3. Die im Folgenden näher geregelten Leistungen des Gastwirtes werden ausschließlich
          auf Basis dieser allgemeinen Geschäftsbedingungen angeboten. Von diesen AGBG
          2022 abweichende oder ergänzende Geschäftsbedingungen des Vertragspartners sind
          nur wirksam, wenn sie ausdrücklich und schriftlich vereinbart wurden.
          <br />
          1.4. Die AGBG 2022 schließen Sondervereinbarungen nicht aus und sind gegenüber im Einzelnen getroffenen Vereinbarungen subsidiär.
          <br />
          1.5. Mit Abschluss einer Reservierung – ganz gleich durch welche Mittel – bestätigt der Vertragspartner, dass er die Geschäftsbedingungen gelesen und verstanden hat und diesen
          zustimmt.
          <br />
          1.6. Der Gastwirt behält sich das Recht vor, jederzeit die AGBG 2022, wenn dies dem Vertragspartner zumutbar ist, zu ändern, auf aktuelle Gegebenheiten zu aktualisieren und
          den gesetzlichen Bestimmungen anzupassen.
          <br />
          2. Begriffsdefinitionen
          <br />
          2.1. Bewirtung Zurverfügungstellung/Verabreichen von Speisen und Getränken
          im Bewirtungsbetrieb des Gastwirtes
          <br />
          2.2. Bewirtungsvertrag Ist der zwischen dem Gastwirt und dem Vertragspartner abge
          schlossene Vertrag, dessen Schwerpunkt in der Bewirtung liegt
          und dessen Inhalt in der Folge näher geregelt wird.
          <br />
          2.3. Catering Zubereitung bzw Lieferung von Speisen und Getränken zu einem
          außerhalb des Bewirtungsbetriebes des Gastwirtes liegenden
          vom Vertragspartner bestimmten Leistungsort
          <br />
          2.4. FAGG Fern- und Auswärtsgeschäftegesetz idgF
          <br />
          2.5. Fernabsatz(vertrag) im Sinne des § 3 FAGG
          <br />
          2.6. Bewirtungsbetrieb Räumlichkeiten außerhalb oder innerhalb eines Gebäudes, wo
          die Bewirtung der Gäste durch den Gastwirt stattfindet
          <br />
          2.7. Gastwirt natürliche oder juristische Person, die als Betreiber des Bewir
          tungsbetriebes Gäste gegen Entgelt bewirtet bzw Räume ver
          mietet und damit zusammenhängende Dienstleistungen erbringt
          <br />
          2.8. Gast natürliche Person, die Bewirtung in Anspruch nimmt. Der Gast ist
          in der Regel zugleich Vertragspartner. Als Gast gelten auch jene
          Personen, die in Begleitung des Vertragspartners bewirtet wer
          den
          <br />
          2.9. KSchG Konsumentenschutzgesetz 1979 idgF
          <br />
          2.10. Verbraucher im Sinne des § 1 KSchG
          <br />
          2.11. Unternehmer im Sinne des § 1 KSchG
          <br />
          2.12. Reservierung verbindliches Angebot des Vertragspartners auf Abschluss eines
          Bewirtungsvertrages
          <br />
          2.13. Vertragspartner natürliche oder juristische Person, die als Gast oder für einen
          Gast einen Bewirtungsvertrag abschließt
          <br />
          3. Vertragsabschluss/Vertragsinhalt
          <br />
          3.1. Der Bewirtungsvertrag kommt nach Prüfung der Verfügbarkeit durch die (mündliche oder
          schriftliche) Annahme der Reservierung – spätestens durch die Bewirtung – des Gastes
          durch den Gastwirt zustande. Ab diesem Zeitpunkt sind der Gastwirt und der Vertragspartner an den Bewirtungsvertrag gebunden.
          <br />
          3.2. Mit Angabe der Konto- bzw Kreditkartendaten erklärt der Vertragspartner sein ausdrückliches Einverständnis mit der Abbuchung aller anfallender Gebühren – insbesondere Anzahlungen und gegebenenfalls Stornogebühren (gemäß Punkt 7) – ohne weitere Rücksprache mit dem Vertragspartner im Einziehungsermächtigungsverfahren der gewählten
          Zahlungsart.
          <br />
          3.3. Als Grundlage für das Entgelt gelten die in der jeweils zum Vertragsschlusszeitpunkt
          aktuellen Preisliste des Gastwirtes angeführten, sowie durch Sonderabsprachen individuell vereinbarten Preise.
          <br />
          3.4. Der Vertragspartner hat bei allen Reservierungen seinen vollständigen Namen (Firma),
          Anschrift, E-Mail-Adresse (sofern vorhanden) und Telefonnummer, sowie die genaue
          Anzahl der zu bewirtenden Gäste sowie den Umfang der gewünschten Bewirtung bekanntzugeben.
          <br />
          3.5. Diese Daten stellen einen wesentlichen Bestandteil des Vertrags dar und sind Grundlage
          für die Rechnungslegung an den Vertragspartner. Eine Über- oder Unterschreitung der
          reservierten Personenanzahl ist nur bei ausdrücklicher Zustimmung des Gastwirtes zulässig. Die vereinbarte Gästezahl wird der Verrechnung als Mindestzahl zugrunde gelegt. Bei vom Gastwirt zugestimmten Überschreiten der vereinbarten Anzahl an Personen erfolgt die Verrechnung gemäß der tatsächlichen Gästezahl. Bei Unterschreiten der
          vereinbarten Gästeanzahl gelten die angeführten Stornobedingungen gemäß Punkt 7.
          <br />
          3.6. Wird bezüglich der Konsumation keine andere Vereinbarung wie zB eine Pauschale getroffen, werden alle konsumierten Getränke und Speisen vom Gastwirt nach dem tatsächlichen Verbrauch und dem Bestellwert laut aktueller Preisliste in Rechnung gestellt
          und gilt ein Betrag in der Höhe von EUR 10/pro reserviertem Gast als Mindestkonsumation vereinbart, der auch bei Nichtinanspruchnahme der Bewirtungsleistungen zu zahlen
          ist.
          <br />
          4. Sonderregelungen für Vertragsabschlüsse mit Anzahlung
          <br />
          4.1. Der Gastwirt ist berechtigt, den Bewirtungsvertrag unter der Bedingung abzuschließen,
          dass der Vertragspartner eine Anzahlung leistet. In diesem Fall ist der Gastwirt verpflichtet, vor der Annahme der schriftlichen oder mündlichen Reservierung des Vertragspartners, den Vertragspartner auf die geforderte Anzahlung hinzuweisen. Erklärt sich der
          Vertragspartner mit der Anzahlung (schriftlich oder mündlich) einverstanden, kommt der
          Bewirtungsvertrag mit erfolgreicher Abbuchung bzw Bezahlung der Anzahlung zustande. Erst ab diesem Zeitpunkt wird der unter der Bedingung einer Anzahlung geschlossene Bewirtungsvertrag zweiseitig verbindlich. Bis zu diesem Zeitpunkt kann die
          Reservierung von beiden Seiten kostenfrei und ohne Angabe von Gründen storniert werden.
          <br />
          4.2. Mit Annahme des Angebots durch den Gastwirt wird die Anzahlung sofort zur Zahlung
          fällig, sofern nicht eine spätere Fälligkeit vereinbart wird Die Kosten für die Geldtransaktion (zB Überweisungsspesen) trägt der Vertragspartner. Für Kredit- und Debitkarten
          gelten die jeweiligen Bedingungen der Kartenunternehmen.
          <br />
          4.3. Die Anzahlung ist eine Teilzahlung auf das vereinbarte Entgelt.
          <br />
          5. Sonderregelungen für Vertragsabschlüsse im Fernabsatz
          <br />
          5.1. Elektronische Erklärungen gelten als zugegangen, wenn die Partei, für die sie bestimmt
          sind, diese unter gewöhnlichen Umständen abrufen kann und der Zugang zu den bekannt gegebenen Geschäftszeiten des Gastwirtes erfolgt.
          <br />
          5.2. Die Annahme durch den Gastwirt erfolgt bei Buchungen über Fernkommunikationsmittel
          ausschließlich durch eine Reservierungsbestätigung des Gastwirtes per Email/auf dem
          Postweg oder bei vereinbarter Anzahlung mit erfolgreicher Abbuchung durch den
          Gastwirt oder mit erfolgreicher Überweisung durch den Vertragspartner. Für die Anzahlung belastet der Gastwirt die Kreditkarte/das Konto des Vertragspartners mit dem in den
          Reservierungsbedingungen angeführten Betrag/Prozentsatz.
          <br />
          5.3. Bei Onlinebuchungen besteht eine Reservierungsmöglichkeit nur nach vollständiger und
          korrekter Eingabe aller im Reservierungsfenster vorhandenen Pflichtfelder sowie des
          ausdrücklichen Anerkenntnisses der AGBG 2022 mittels der im Reservierungsfenster
          vorgesehenen Applikation.
          <br />
          5.4. Der Vertragspartner nimmt zur Kenntnis, dass der Reservierungsvorgang bei Onlinereservierungen nach Betätigung des Buttons „Kostenpflichtig reservieren“ nicht mehr storniert oder rückgängig gemacht werden kann.
          <br />
          5.5. Der Vertragspartner ist für die korrekte Eingabe/Bekanntgabe der Daten allein verantwortlich. War der Reservierungsvorgang nur durch Eingabe/Bekanntgabe fehlerhafter
          oder unvollständiger Daten nicht korrekt, kann die Buchung entweder mit Hilfe des Gastwirtes korrigiert oder eine andere Reservierungsbestätigung ausgestellt werden. In allen
          Reklamationsfällen muss vom Vertragspartner jedenfalls die Reservierungsbestätigung
          vorgelegt werden, da ansonsten die Bewirtung durch den Gastwirt abgelehnt werden
          kann. Die elektronische Reservierungsbestätigung des Gastwirtes dient als einziger zulässiger Nachweis der ordnungsgemäß getätigten Reservierung und ist daher vom Vertragspartner mitzuführen und im Falle von Reklamationen dem Personal des Gastwirtes
          vorzuweisen.
          <br />
          5.6. Der Vertragspartner nimmt zur Kenntnis, dass es aufgrund der notwendigen Datenübertragungen über das Internet und über sonstige Datenleitungen bei der Reservierung ausnahmsweise zu Problemen kommen kann, ohne dass daraus irgendwelche Rechtsfolgen abgeleitet werden können.
          <br />
          6. Rücktritt des Gastwirtes vom Bewirtungsvertrag
          <br />
          6.1. Falls der Vertragspartner/die Gäste eine halbe Stunde nach dem vereinbarten Reservierungszeitpunkt nicht erscheinen, besteht keine Bewirtungspflicht, es sei denn, dass ein
          späterer Ankunftszeitpunkt vereinbart wurde.
          <br />
          6.2. Hat der Vertragspartner eine Anzahlung (siehe Punkt 4) geleistet, so bleibt die Reservierung zwei Stunden nach dem vereinbarten Reservierungszeitpunkt reserviert.
          <br />
          6.3. Bis spätestens drei Monate vor der vereinbarten Bewirtung des Vertragspartners bzw
          der Gäste kann der Bewirtungsvertrag durch den Gastwirt aus sachlich gerechtfertigten
          Gründen durch einseitige Erklärung aufgelöst werden.
          <br />
          7. Rücktritt durch den Vertragspartner – Stornogebühr
          <br />
          7.1. Bei den vom Gastwirt angebotenen Dienstleistungen handelt es sich um Freizeit-Dienstleistungen iSd § 18 Abs 1 Z 10 FAGG, die zu einem bestimmten Zeitpunkt innerhalb
          eines genau angegebenen Zeitraums erbracht werden. Dem Vertragspartner steht demnach kein Rücktrittsrecht gemäß § 11 Abs 1 FAGG zu.
          <br />
          7.2. Ein Rücktritt durch einseitige Erklärung des Vertragspartners ist nur unter Entrichtung
          folgender Stornogebühren möglich:
          bis 3 Monate 3 Monate bis 14 Tage 14 Tage bis 1 Tag am letzten Tag
          30% 50% 70% 90%
          <br />
          7.3. Bis zu einer Unterschreitung der reservierten Gästezahl im nachfolgenden Ausmaß ist
          ein Teilrücktritt im Ausmaß der zu reduzierenden Gästeanzahl ohne Entrichtung einer
          Stornogebühr durch einseitige Erklärung des Vertragspartners möglich:
          bis 3 Monate 3 Monate bis 14 Tage 14 Tage bis 1 Tag am letzten Tag
          40% 30% 20% 10%
          <br />
          7.4. Bei Unterschreitung der reservierten Gästezahl um mehr als die unter Punkt 7.3 genannte Gästeanzahl ist ein Teilrücktritt im Ausmaß der zu reduzierenden Gästezahl
          durch einseitige Erklärung des Vertragspartners nur unter Entrichtung der unter Punkt
          <br />
          7.2 angeführten Stornogebühren möglich.
          <br />
          7.5. Die jeweiligen Stornogebühren berücksichtigen jene Kosten, die sich der Gastwirt aufgrund des Unterbleibens der Leistung(en) erspart hat, und sind von der vereinbarten
          Gesamtsumme bzw dem Gesamtwert der vereinbarten Leistungen (Speisen und Getränke), etwaigen Pauschalvereinbarungen bzw mangels vereinbarter Konsumationsleistung vom Betrag in der Höhe von EUR 30,00 pro reserviertem Gast zu berechnen.
          <br />
          7.6. Eine bereits geleistete Anzahlung wird auf die unter 7.2 und 7.3 genannten Stornogebühren angerechnet.
          <br />
          7.7. Der Rücktritt des Vertragspartners entfaltet nur Wirksamkeit, wenn dieser schriftlich erklärt wird.
          <br />
          8. Behinderungen der Anreise
          <br />
          8.1. Kann der Vertragspartner bzw die Gäste am Tag der Anreise nicht im Bewirtungsbetrieb
          erscheinen, weil durch unvorhersehbare außergewöhnliche Umstände (zB extremer
          Schneefall, Hochwasser etc) sämtliche Anreisemöglichkeiten unmöglich sind, ist der
          Vertragspartner nicht verpflichtet, das vereinbarte Entgelt zu bezahlen.
          <br />
          8.2. Kann der Vertragspartner bzw die Gäste am Tag der Anreise nicht im Bewirtungsbetrieb
          erscheinen, weil diese erkrankt sind, so ist der Vertragspartner verpflichtet, das vereinbarte Entgelt zu bezahlen; der Gastwirt ist verpflichtet, die Gäste zu bewirten.
          <br />
          9. Rechte des Vertragspartners
          <br />
          9.1. Durch den Abschluss eines Bewirtungsvertrages erwirbt der Vertragspartner das Recht
          auf die übliche Bewirtung und Bedienung, sowie den Gebrauch der Einrichtungen des
          Bewirtungsbetriebes, die üblicher Weise und ohne besondere Bedingungen den Gästen
          zur Benützung zugänglich sind.
          <br />
          9.2. Sind Einrichtungen aus technischen Gründen nicht verfügbar bzw benutzbar, steht dem
          Vertragspartner kein Recht auf Entgeltminderung zu.
          <br />
          9.3. Der Vertragspartner hat seine Rechte gemäß allfälligen Gästerichtlinien (Hausordnung)
          auszuüben.
          <br />
          10. Pflichten des Vertragspartners
          <br />
          10.1. Der Vertragspartner ist verpflichtet, spätestens zum Zeitpunkt des Endes der Bewirtung
          das vereinbarte Entgelt zuzüglich etwaiger Mehrbeträge, die auf Grund gesonderter
          Leistungsinanspruchnahmen durch ihn und/oder die ihn begleitenden Gästen entstanden sind zuzüglich – falls noch nicht berücksichtigt – gesetzlicher Umsatzsteuer zu bezahlen.
          <br />
          10.2. Der Gastwirt ist nicht verpflichtet, Fremdwährungen zu akzeptieren. Akzeptiert der Gastwirt Fremdwährungen, werden diese nach Tunlichkeit zum Tageskurs in Zahlung genommen. Sollte der Gastwirt Fremdwährungen oder bargeldlose Zahlungsmittel akzeptieren, so trägt der Vertragspartner alle damit zusammenhängenden Kosten, etwa Erkundigungen bei Kreditkartenunternehmungen usw.
          <br />
          10.3. Der Vertragspartner und seine Gäste haften dem Gastwirt gegenüber für jeden Schaden
          zur ungeteilten Hand, den er oder der Gast oder sonstige Personen, die mit Wissen oder
          Willen des Vertragspartners Leistungen des Gastwirtes entgegennehmen, verursachen.
          Für Ansprüche Dritter hält der Vertragspartner/Gast den Gastwirt zur Gänze schad- und
          klaglos.
          <br />
          10.4. Das Mitbringen von Speisen und Getränken ohne vorherige Genehmigung des Gastwirtes ist nicht gestattet.
          <br />
          10.5. Der Vertragspartner ist für die Einhaltung aller gesetzlichen und behördlichen Vorschriften – insbesondere von gewerberechtlichen, feuerpolizeilichen, urheberschutzrechtlichen und veranstaltungsrechtlichen, sowie des OÖ Jugendschutzgesetzes idgF und des
          Tabak- und Nichtraucherinnen- bzw Nichtraucherschutzgesetzes idgF – selbst verantwortlich und hat den diesbezüglichen Weisungen des Gastwirtes zu folgen. Der Vertragspartner ist – soweit nicht gesetzlich anders vorgesehen – verpflichtet, behördliche
          Bewilligungen auf eigene Kosten einzuholen und alle behördlichen Auflagen auf eigene
          Kosten zu erfüllen.
          <br />
          10.6. Dekorationsmaterial muss den feuerpolizeilichen Anforderungen entsprechen und darf
          im Übrigen – ebenso wie sonstige Gegenstände – nur mit Zustimmung des Gastwirtes
          angebracht werden. Das Anbringen von Dekorationsmaterial an den Wänden unter Verwendung von Klebstoffen, Klebestreifen, Möbelheftern, Nägeln und Schrauben ist untersagt. Mitgebrachte Gegenstände sind nach der Veranstaltung unverzüglich vom Vertragspartner zu entfernen. Erfolgt die Entfernung nicht unverzüglich, hat der Gastwirt die
          Möglichkeit dies auf Kosten des Vertragspartners durch Dritte durchführen zu lassen,
          bzw Raummiete für die Aufbewahrung zu verrechnen.
          <br />
          11. Rechte des Gastwirtes
          <br />
          11.1. Verweigert der Vertragspartner die Bezahlung des bedungenen Entgelts oder ist er damit im Rückstand, so steht dem Gastwirt das gesetzliche Zurückbehaltungsrecht gemäß
          § 471 ABGB an den vom Vertragspartner bzw dem vom Gast eingebrachten Sachen zu.
          Dieses Zurückbehaltungsrecht steht dem Gastwirt weiters zur Sicherung seiner Forderung aus dem Bewirtungsvertrag, insbesondere für Verpflegung, sonstiger Auslagen, die
          für den Vertragspartner gemacht wurden und für allfällige Ersatzansprüche jeglicher Art
          zu.
          <br />
          11.2. Werden vom Gastwirt Sonderwünsche des Vertragspartners oder Gastes erfüllt, so ist
          der Gastwirt berechtigt, dafür ein Sonderentgelt zu verlangen. Dieses Sonderentgelt bzw
          die Art der Berechnung ist jedoch vor Leistungserbringung durch den Gastwirt dem
          Gast/Vertragspartner offenzulegen. Der Gastwirt kann diese Leistungen aus betrieblichen Gründen auch ablehnen.
          <br />
          11.3. Dem Gastwirt steht das Recht auf jederzeitige Abrechnung bzw Zwischenabrechnung
          seiner Leistung zu.
          <br />
          12. Pflichten des Gastwirtes
          <br />
          12.1. Der Gastwirt ist verpflichtet, die vereinbarten Leistungen in einem seinem Standard entsprechenden Umfang zu erbringen.
          <br />
          12.2. Es gelten die gesetzlichen Gewährleistungsbestimmungen.
          <br />
          13. Haftungsbeschränkungen
          <br />
          13.1. Ist der Vertragspartner ein Konsument, wird die Haftung des Gastwirtes – auch für eingebrachte Sachen – für leichte Fahrlässigkeit, mit Ausnahme von Personenschäden,
          ausgeschlossen.
          <br />
          13.2. Ist der Vertragspartner ein Unternehmer, wird die Haftung des Gastwirtes sowie seiner
          Erfüllungsgehilfen – auch für eingebrachte Sachen – für leichte und grobe Fahrlässigkeit
          ausgeschlossen. In diesem Fall trägt der Vertragspartner die Beweislast für das Vorliegen des Verschuldens. Folgeschäden, immaterielle Schäden oder indirekte Schäden sowie entgangene Gewinne werden nicht ersetzt. Der zu ersetzende Schaden findet in
          jedem Fall seine Grenze in der Höhe des Vertrauensinteresses.
          <br />
          13.3. Für abhandengekommene Sachen des Gastes/Vertragspartners wird nicht gehaftet.
          <br />
          13.4. Der Gastwirt bemüht sich, Störungen an vom Gastwirt direkt zur Verfügung gestellten
          technischen Einrichtungen und sonstigen Einrichtungen umgehend zu beseitigen. Der
          Gastwirt haftet nicht für Ausfälle dieser Einrichtungen, sowie des Stromnetzes bzw sonstiger infrastruktureller Einrichtungen.
          <br />
          13.5. Die Haftung ist in jedem Fall ausgeschlossen, wenn der Vertragspartner und/oder Gast
          den eingetretenen Schaden ab Kenntnis nicht unverzüglich dem Gastwirt anzeigt. Überdies sind diese Ansprüche innerhalb von drei Jahren ab Kenntnis oder möglicher Kenntnis durch den Vertragspartner bzw Gast gerichtlich geltend zu machen; sonst ist das
          Recht erloschen.
          <br />
          14. Tierhaltung
          <br />
          14.1. Tiere dürfen nur nach vorheriger Zustimmung des Gastwirtes und allenfalls gegen eine
          besondere Vergütung in den Bewirtungsbetrieb gebracht werden.
          <br />
          14.2. Der Vertragspartner, der ein Tier mitnimmt, ist verpflichtet, dieses Tier während seines
          Aufenthaltes ordnungsgemäß zu verwahren bzw zu beaufsichtigen oder dieses auf seine
          Kosten durch geeignete Dritte verwahren bzw beaufsichtigen zu lassen.
          <br />
          14.3. Der Vertragspartner bzw Gast, der ein Tier mitnimmt, hat über eine entsprechende TierHaftpflichtversicherung bzw eine Privat-Haftpflichtversicherung, die auch mögliche durch
          Tiere verursachte Schäden deckt, zu verfügen. Der Nachweis der entsprechenden Versicherung ist über Aufforderung des Gastwirtes zu erbringen.
          <br />
          14.4. Der Vertragspartner bzw sein Versicherer haften dem Gastwirt gegenüber zur ungeteilten Hand für den Schaden, den mitgebrachte Tiere anrichten. Der Schaden umfasst insbesondere auch jene Ersatzleistungen des Gastwirtes, die der Gastwirt gegenüber Dritten zu erbringen hat.
          <br />
          15. Gutscheine
          <br />
          15.1. Gutscheine jeglicher Art werden nicht in bar abgelöst. Der zeitliche Geltungsraum von
          Gutscheinen wird auf dem jeweiligen Gutschein festgeschrieben und definiert, wobei
          diese spätestens mit Ablauf einer Frist von 5 Jahren ab Ausstellungsdatum eingelöst
          oder umgetauscht werden müssen. Bei Verlust von Gutscheinen jeglicher Art wird vom
          Gastwirt kein Ersatz geleistet.
          <br />
          16. Abänderung des Bewirtungsvertrages
          <br />
          16.1. Der Vertragspartner hat keinen Anspruch darauf, dass die Art und das Ausmaß der Bewirtung abgeändert werden. Kündigt der Vertragspartner seinen Wunsch auf Abänderung des Bewirtungsvertrages rechtzeitig an, so kann der Gastwirt der Abänderung des
          Bewirtungsvertrages zustimmen. Den Gastwirt trifft dazu keine Verpflichtung.
          <br />
          16.2. Der Gastwirt kann dem Vertragspartner bzw den Gästen eine andere Bewirtung (gleicher
          Qualität) zur Verfügung stellen, wenn dies dem Vertragspartner zumutbar ist, besonders
          wenn die Abweichung geringfügig und sachlich gerechtfertigt ist. Eine sachliche Rechtfertigung ist beispielsweise dann gegeben, wenn ein bestimmter Raum (bestimmte
          Räume) unbenutzbar geworden ist (sind), bereits anwesende Gäste ihren Aufenthalt verlängern, eine Überbuchung vorliegt oder sonstige wichtige betriebliche Maßnahmen diesen Schritt bedingen. Allfällige Mehraufwendungen für die Ersatzbewirtung gehen auf
          Kosten des Gastwirtes.
          <br />
          17. Beendigung des Bewirtungsvertrages – Vorzeitige Auflösung
          <br />
          17.1. Erscheint der Vertragspartner bzw seine Gäste nicht, so ist der Gastwirt berechtigt, das
          vereinbarte Entgelt vorbehaltlich Punkt 17.3 zu verlangen.
          <br />
          17.2. Der Gastwirt ist berechtigt, den Bewirtungsvertrag aus wichtigem Grund aufzulösen, insbesondere wenn der Vertragspartner bzw der Gast
          a) von den Räumlichkeiten einen erheblich nachteiligen Gebrauch macht oder durch sein
          rücksichtsloses, anstößiges oder sonst grob ungehöriges Verhalten den übrigen Gästen,
          dem Eigentümer, dessen Leute verleidet oder sich gegenüber diesen
          Personen einer mit Strafe bedrohten Handlung gegen das Eigentum, die Sittlichkeit oder
          die körperliche Sicherheit schuldig macht;
          b) von einer ansteckenden Krankheit oder eine Krankheit, die über die Bewirtungsdauer
          hinausgeht, befallen wird oder sonst pflegedürftig wird;
          c) die vorgelegten Rechnungen bei Fälligkeit innerhalb einer zumutbar gesetzten Frist
          (3 Tage) nicht bezahlt.
          Bei Auflösung des Bewirtungsvertrages aus wichtigen Grund ist der Vertragspartner zur
          Bezahlung des Entgelts vorbehaltlich Punkt 17.3 verpflichtet.
          <br />
          17.3. Der Gastwirt wird in Abzug bringen, was er sich infolge der Nichtinanspruchnahme seines Leistungsangebots erspart oder was er durch anderweitige Bewirtung erhalten hat.
          Eine Ersparnis liegt nur dann vor, wenn der Bewirtungsbetrieb im Zeitpunkt der Nichtinanspruchnahme der vom Gast bestellten Bewirtung vollständig ausgelastet ist und auf
          Grund des Nichterscheinens des Vertragspartners weitere Gäste bewirtet werden können. Die Beweislast für die Ersparnis trägt der Vertragspartner.
          <br />
          17.4. Wenn die Vertragserfüllung durch ein als höhere Gewalt zu wertendes Ereignis (zB Elementarereignisse, Streik, Aussperrung, Lieferboykott, behördliche Verfügungen etc) unmöglich wird, kann der Gastwirt den Bewirtungsvertrag jederzeit auflösen, sofern der
          Vertrag nicht bereits nach dem Gesetz als aufgelöst gilt, oder der Gastwirt von seiner
          Bewirtungspflicht befreit ist. Etwaige Ansprüche auf Schadenersatz etc des Vertragspartners sind ausgeschlossen.
          <br />
          18. Erkrankung, Unfall oder Tod des Gastes während der Bewirtung
          <br />
          18.1. Erkrankt/Verunfallt ein Gast während seines Aufenthaltes im Bewirtungsbetrieb, so wird
          der Gastwirt über Wunsch des Gastes für ärztliche Betreuung sorgen. Ist Gefahr in Verzug, wird der Gastwirt die ärztliche Betreuung auch ohne besonderen Wunsch des Gastes veranlassen, dies insbesondere dann, wenn dies notwendig ist und der Gast hiezu
          selbst nicht in der Lage ist.
          <br />
          18.2. Solange der Gast nicht in der Lage ist, Entscheidungen zu treffen oder die Angehörigen
          des Gastes nicht kontaktiert werden können, wird der Gastwirt auf Kosten des Gastes
          für ärztliche Behandlung sorgen. Der Umfang dieser Sorgemaßnahmen endet jedoch in
          dem Zeitpunkt, in dem der Gast Entscheidungen treffen kann oder die Angehörigen vom
          Krankheits-/Unfallsfall benachrichtigt worden sind.
          <br />
          18.3. Der Gastwirt hat gegenüber dem Vertragspartner und dem Gast oder bei Todesfall gegen deren Rechtsnachfolger insbesondere für folgende Kosten Ersatzansprüche:
          a) offene Arztkosten, Kosten für Krankentransport, Medikamente und Heilbehelfe;
          b) notwendig gewordene Raumdesinfektion;
          c) Wiederherstellung von Wänden, Einrichtungsgegenständen, Teppichen usw, soweit
          diese im Zusammenhang mit der Erkrankung, dem Unfall oder dem Todesfall verunreinigt oder beschädigt wurden;
          d) Entgelt für vom Gast in Anspruch genommene Bewirtungsleistungen, zzgl allfälliger
          Kosten der Unverwendbarkeit der Räume wegen Desinfektion, Räumung oä;
          e) allfällige sonstige Schäden, die dem Gastwirt entstehen.
          <br />
          19. Erfüllungsort, Gerichtsstand und Rechtswahl
          <br />
          19.1. Erfüllungsort ist der Ort, an dem der Bewirtungsbetrieb gelegen ist.
          <br />
          19.2. Dieser Vertrag unterliegt österreichischem formellen und materiellen Recht unter Ausschluss der Regeln des Internationalen Privatrechts (insbesondere IPRG und EVÜ) sowie UN-Kaufrecht.
          <br />
          19.3. Ausschließlicher Gerichtsstand ist im zweiseitigen Unternehmergeschäft der Sitz des
          Gastwirtes, wobei der Gastwirt überdies berechtigt ist, seine Rechte auch bei jedem anderen örtlich und sachlich zuständigen Gericht geltend zu machen.
          <br />
          19.4. Wurde der Bewirtungsvertrag mit einem Vertragspartner, der Verbraucher ist und seinen
          Wohnsitz bzw gewöhnlichen Aufenthalt in Österreich hat, geschlossen, können Klagen
          gegen den Verbraucher ausschließlich am Wohnsitz, am gewöhnlichen Aufenthaltsort
          oder am Beschäftigungsort des Verbrauchers eingebracht werden.
          <br />
          19.5. Wurde der Bewirtungsvertrag mit einem Vertragspartner, der Verbraucher ist und seinen
          Wohnsitz in einem Mitgliedsstaat der Europäischen Union (mit Ausnahme Österreichs),
          Island, Norwegen oder der Schweiz, hat, ist das für den Wohnsitz des Verbrauchers für
          Klagen gegen den Verbraucher örtlich und sachlich zuständige Gericht ausschließlich
          zuständig.
          <br />
          20. Sonstiges
          <br />
          20.1. Alle Änderungen des Bewirtungsvertrages bedürfen auf Seiten des Vertragspartners der
          Schriftform.
          <br />
          20.2. Sofern die obigen Bestimmungen nichts Besonderes vorsehen, beginnt der Lauf einer
          Frist mit Zustellung des die Frist anordnenden Schriftstückes an den Vertragspartner,
          welcher die Frist zu wahren hat. Bei Berechnung einer Frist, welche nach Tagen bestimmt ist, wird der Tag nicht mitgerechnet, in welchen der Zeitpunkt oder das Ereignis
          fällt, nach der sich der Anfang der Frist richten soll. Nach Wochen oder Monaten bestimmte Fristen beziehen sich auf diejenigen Tage der Woche oder des Monates, welcher durch seine Benennung oder Zahl dem Tage entspricht, von welchem die Frist zu
          zählen ist. Fehlt dieser Tag in dem Monat, ist der in diesem Monat letzte Tag maßgeblich.
          <br />
          20.3. Erklärungen müssen dem jeweils anderen Vertragspartner am letzten Tag der Frist (24
          Uhr) zugegangen sein.
          <br />
          20.4. Der Gastwirt ist berechtigt, gegen Forderungen des Vertragspartners mit eigenen Forderungen aufzurechnen. Der Vertragspartner ist nicht berechtigt, mit eigenen Forderungen gegen Forderungen des Gastwirtes aufzurechnen; dies gilt für Konsumenten dann
          nicht, wenn der Gastwirt zahlungsunfähig oder die Forderung des Vertragspartners gerichtlich festgestellt oder vom Gastwirt anerkannt ist.
          <br />
          20.5. Im Falle von Regelungslücken gelten die entsprechenden gesetzlichen Bestimmungen.


      </div>
        </body>

</html>