<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

</head>
<body>
    <div>
        <h1>
            Datenschutz-Hinweis Schnitzel & mehr GmbH
        </h1>
        <p>
            Wir legen größten Wert auf die Einhaltung der datenschutzrechtlichen Vorschriften und den Schutz Ihrer
            personenbezogenen Daten. Nachfolgend möchten wir Sie gemäß den gesetzlichen Bestimmungen über die Art,
            den Umfang und die Zwecke der Verarbeitung Ihrer Daten sowie Ihre damit verbundenen Rechte informieren.
        </p>
        <h3>Kategorien personenbezogener Daten:</h3>
        <p>
            Im Rahmen unserer Geschäftsbeziehung verarbeiten wir folgende Kategorien Ihrer personenbezogenen Daten:
            <br />
            • Kontaktdaten (z.B. Name, Adresse, Telefonnummer, E-Mail-Adresse)
            <br />
            • Vertragsdaten (z.B. Vertragsgegenstand, Vertragslaufzeit)
            <br />
            • Verrechnungsdaten (z.B. Bankverbindung, Zahlungsdaten)
            <br />
            • Entgeltdaten (z.B. Gehalt, Lohn)
            <br />
            • Geburtstag
        </p>
        <h3>Rechtsgrundlagen:</h3>
        <p>
            Die Verarbeitung Ihrer personenbezogenen Daten erfolgt auf Grundlage der folgenden Rechtsgrundlagen:
            <br />
            • Einwilligung: Sofern Sie uns eine Einwilligung zur Verarbeitung Ihrer Daten erteilt haben, erfolgt die
            Verarbeitung ausschließlich auf Basis Ihrer Einwilligung zu den angegebenen Zwecken (z.B.
            Informationen über unsere Produkte, Bestellabwicklung, aktuelle Werbeaktionen). Sie haben das
            Recht, Ihre Einwilligung jederzeit mit Wirkung für die Zukunft zu widerrufen.
            <br />
            • Vertragserfüllung: Die Verarbeitung Ihrer Daten erfolgt zur Erfüllung eines Vertrags oder zur
            Durchführung vorvertraglicher Maßnahmen.
            <br />
            • Rechtliche Verpflichtung: Wir sind gesetzlich verpflichtet, bestimmte personenbezogene Daten zur
            Einhaltung von steuerrechtlichen Vorgaben zu verarbeiten.
        </p>
        <h3>Speicherdauer/Löschungsfrist:</h3>
        <p>
            Wir speichern Ihre personenbezogenen Daten im Rahmen unserer unternehmens- und steuerrechtlichen
            Aufbewahrungspflichten für einen Zeitraum von sieben Jahren. Im Rahmen der Vertragserfüllung speichern wir
            Ihre Daten zumindest für einen Zeitraum von drei Jahren.
        </p>
        <h3>Auftragsverarbeiter:</h3>
        <p>
            Zur Verarbeitung Ihrer personenbezogenen Daten ziehen wir die Firma MV - Data Ges.mbH als
            Auftragsverarbeiter heran.
        </p>
        <h3>Kontakt:</h3>
        <p>
            Für Fragen zur Verarbeitung Ihrer personenbezogenen Daten oder zur Ausübung Ihrer Rechte gemäß den
            datenschutzrechtlichen Bestimmungen können Sie sich jederzeit an uns unter office@schnitzelundmehr.at
            wenden.
        </p>
        <h3>Rechtsbehelfsbelehrung:</h3>
        <p>
            Als betroffene Person haben Sie das Recht auf Auskunft, Berichtigung, Löschung, Einschränkung,
            Datenübertragbarkeit und Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten. Wenn Sie der
            Ansicht sind, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
            datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der
            zuständigen Aufsichtsbehörde beschweren. In Österreich ist dies die Datenschutzbehörde. Bitte beachten Sie,
            dass wir Ihre personenbezogenen Daten nur auf Grundlage der geltenden datenschutzrechtlichen
            Bestimmungen verarbeiten.
        </p>

    </div>
</body>

</html>





